<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Вхід</title>
</head>
<body>
    <div class="login-container">
        <h2>Вхід до системи</h2>

        <form method="post">
            <label for="username">Email:</label>
            <input type="email" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" name="password" required>

            <button type="submit">Увійти</button>
        </form>

        <form action="{{ url_for('register') }}">
            <button type="submit">Зареєструватися</button>
        </form>

        <form action="{{ url_for('index') }}">
            <button type="submit">Продовжити як гість</button>
        </form>
    </div>
</body>

</html>
